h1 {
	    text-align-last: center;
    height: 60px;
    font-size: 111px;
}
nav {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    padding: .5em;
    margin: 0;
    justify-content: space-around;
    font-size: 30px;
    font-family: 'Bitter', serif;
}
a {
	text-decoration: none;
	color: black;
}
img[src="olanordmann.jpeg"] {
	background-size: cover;
    align-content: center;
    width: 800px;
    height: 900px;
    padding: 1em;
}
#valg {
	display: flex;
	flex-flow: row;
	justify-content: space-around;
	padding: 4em;
    margin-top: 2em;
	position: absolute;
	top: 140%;
	left: 37%;
}
.divider {
	width: 150px;
	height: auto;
	display: inline-block;
}
.ja {
	border-radius: 50%;
    color: white;
    background-color: green;
}
.nei {
	border-radius: 50%;
    color: white;
    background-color: red;
}
button {
	height: 100px;
	width: 100px;
	font-size: 30px;
	border-radius: 50%;
}
button .ja{
    color: white;
    background-color: green;
}
button .nei{
    color: white;
    background-color: red;

}
#picture {
	width: 50%;
  height: 60%;
	position: relative;
  text-align: center;
	left: 25%;
	display: block;
	-webkit-transform-origin: 50% 99%;
	transform-origin: 50% 99%;
}
.text {
    display: flex;
    margin: 2em;
    font-family: 'Bitter', serif;
    position: absolute;
    font-size: 3em;
		left: 20%;
    bottom: 120px;
}
.textp{
	display: flex;
	margin: 2em;
	font-family: 'Bitter', serif;
	position: absolute;
	font-size: 2em;
	left: 25%;
	bottom: 110px;
}
.textp2{
	display: flex;
	margin: 2em;
	font-family: 'Bitter', serif;
	position: absolute;
	font-size: 2em;
	left: 25%;
	bottom: 70px;
}
.textp3{
	display: flex;
	margin: 2em;
	font-family: 'Bitter', serif;
	position: absolute;
	font-size: 2em;
	left: 25%;
	bottom: 30px;
}
#Grupper {
	  display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Bitter', serif;
}
h2 {
	text-align-last: center;
}
.gruppe1 {
	width: 100%;
    padding: 1em;
    margin-left: 3em;
    border: lightblue;
    margin: 1em;
}
.gruppe2 {
	width: 100%;
    padding: 1em;
    margin-left: 3em;
    border: lightblue;
    margin: 1em;
}
.gruppe3 {
	width: 100%;
    padding: 1em;
    margin-left: 3em;
    border: lightblue;
    margin: 1em;
}
.gruppe4 {
	width: 100%;
    padding: 1em;
    margin-left: 3em;
    border: lightblue;
    margin: 1em;
}
.gruppe4, .gruppe3, .gruppe1, .gruppe2{
    width: 75%;
    padding: 2em;
    margin-left: 1em;
    border: lightblue;
    border-width: medium;
    background-color: cornflowerblue;
    font-size: 3em;
}
#Grupper h2{
	width: 100%;
	font-size: 5em;
}
#logo {
    display: flex;
    justify-content: center;
}
img[src="studybuddylogo.png"] {
    max-inline-size: -webkit-fill-available;
    height: 25%;
    width: 18%;
}
/* Swipe stuff and anim for switching between menus/pages */
body{
   opacity: 0;
	 transition: opacity 0.5s forwards;
}
#picture.card {
	display: none;
}
#picture.current {
	display: block;
}
.people.yes .current {
	-webkit-animation: yay 0.7s ease-out;
	animation: yay 0.7s ease-out;
}
.people.nope .current {
	-webkit-animation: nope 0.7s ease-out;
	animation: nope 0.7s ease-out;
}
@keyframes yay {
  from {
    transform: rotate(0deg);
    opacity: 1;
  }
  to {
    transform: rotate(40deg) translateY(-80px);
    opacity: 0;
  }
}
@-webkit-keyframes yay {
  from {
    -webkit-transform: rotate(0deg);
    opacity: 1;
  }
  to {
    -webkit-transform: rotate(40deg) translateY(-80px);
    opacity: 0;
  }
}
@keyframes nope {
  from {
    transform: rotate(0deg);
    opacity: 1;
  }
  to {
    transform: rotate(-40deg) translateY(-80px);
    opacity: 0;
  }
}
@-webkit-keyframes nope {
  from {
    -webkit-transform: rotate(0deg);
    opacity: 1;
  }
  to {
    -webkit-transform: rotate(-40deg) translateY(-80px);
    opacity: 0;
  }
}
